# Eclipse stuff
.cproject
.project
.settings/

build/
install/
# perso
Test_performance_perso/



compile_conserve_data_optim.sh
compile_conserve_data.sh
main_perf.cxx
prototype_function
sortie.out
user_env_optim.txt
Modules/EOS/Tests/C++/CMakeLists.txt
user_env.txt

.vscode/settings.json
Modules/.vscode/settings.json

